{% extends 'base.html' %} {% block main %} {% if data %}
<div class="container p-10 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card" style="background-color: #f5f5f5">
        <h3 class="text-left logo p-2 px-5">
          BetterBuy, the only place you should shop!
        </h3>

        <div class="p-5">
          <h5>Order Details</h5>

          <div class="border-top table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>
                    <div class="py-2">
                      <span class="d-block">Order Date</span>
                      <span> {{data[2]}}</span>
                    </div>
                  </td>

                  <td>
                    <div class="py-2">
                      <span class="d-block">Order No</span>
                      <span> {{data[6]}} </span>
                    </div>
                  </td>

                  <td>
                    <div class="py-2">
                      <span class="d-block">Payment</span>
                      <span>Card</span>
                    </div>
                  </td>

                  <td>
                    <div class="py-2">
                      <span class="d-block">Shiping Address</span>
                      <span> Somewhere, I don't know where (yet) </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="product border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
                {% for product in products %}
                <tr>
                  <td width="20%">
                    <img src="{{product.image}}" width="90" />
                  </td>

                  <td width="60%">
                    <span class="font-weight-bold"> {{product.name}} </span>
                    <div class="product-qty">
                      <span class="d-block">Quantity:1</span>
                      <span>Color:Dark</span>
                    </div>
                  </td>
                  <td width="20%">
                    <div class="text-right">
                      <span class="font-weight-bold"
                        >${{product.salePrice}}</span
                      >
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="row d-flex justify-content-end">
            <div class="col-md-5">
              <table class="table table-borderless">
                <tbody class="totals">
                  <tr>
                    <td>
                      <div class="text-left">
                        <span class="">Shipping Fee</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span>Free</span>
                      </div>
                    </td>
                  </tr>

                  <tr class="border-top border-bottom">
                    <td>
                      <div class="text-left">
                        <span class="font-weight-bold">Subtotal</span>
                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span class="font-weight-bold">{{data[5]}}</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <p>
            We will be sending shipping confirmation email when your order has
            shipped.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock%}
