{% extends 'base.html' %} {% block main %}
<!-- Shop by Category! -->
<div class="row">
    <!-- Laptops & Computers Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/dam/pol_6502179-MMT-569003-0808-ec85fc42-4049-476f-ad8a-ad9e94e5607b.jpg;maxWidth=220"
                class="rounded-circle">
            <div class="card-body">
                <a href="#" class="laptops&computers-link">Laptops and Computers</a>
            </div>
        </div>
    </div>
    <!-- TVs & Projector Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6502/6502215_sd.jpg;maxWidth=220"
                class="card-img-top">
            <div class="card-body">
                <a href="#" class="tvs&projectors-link">TVs and Projectors</a>
            </div>
        </div>
    </div>
    <!-- Apple Product Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/dam/MMT-611301-ghp-img-icons-apple-d28633c9-bbe5-4f83-a0f6-55b738306ae1.jpg;maxWidth=220"
                class="card-img-top">
            <div class="card-body">
                <a href="#" class="apple-link">Apple Products</a>
            </div>
        </div>
    </div>
    <!-- Video Games, Consoles & VR Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6456/6456332_sd.jpg;maxWidth=220"
                class="card-img-top">
            <div class="card-body">
                <a href="#" class="videogames&consoles&vr-link">Video Games, Consoles and VR Products</a>
            </div>
        </div>
    </div>
    <!-- Headphones Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6505/6505727_sd.jpg;maxWidth=220"
                class="card-img-top">
            <div class="card-body">
                <a href="#" class="headphones-link">Headphones</a>
            </div>
        </div>
    </div>
    <!-- PC Gaming Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6500/6500695_rd.jpg;maxWidth=220"
                class="card-img-top">
            <div class="card-body">
                <a href="#" class="pcgaming-link">PC Gaming</a>
            </div>
        </div>
    </div>
    <!-- Tablets & E-Readers Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/dam/MMT-623320-ghp-img-icons-tablets-309e6e1b-379c-438d-b57c-7e6450a91e6e.jpg;maxWidth=220"
                class="card-img-top">
            <div class="card-body">
                <a href="#" class="tablets&ereaders-link">Tablets and E-Readers</a>
            </div>
        </div>
    </div>
    <!-- Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src=""
                class="card-img-top">
            <div class="card-body">
                <a href="#" class="-link"></a>
            </div>
        </div>
    </div>

  </div>
</div>
{% endblock %}

<!--
 Icon 
    <div class="col-sm-6">
      <div class="card" style="width: 15rem; text-align: center;">
          <img src=""
              class="card-img-top">
          <div class="card-body">
              <a href="#" class="-link"></a>
          </div>
      </div>
  </div>

-->
