{% extends 'base.html' %} {% block main %}
<!-- Shop by Category! -->
<div class="row">
    <!-- TV & Home Theater Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/dam/pol_6502179-MMT-569003-0808-ec85fc42-4049-476f-ad8a-ad9e94e5607b.jpg;maxWidth=220"
                class="rounded-circle">
            <div class="card-body">
                <a href="{{ url_for('searchbycategory', variable=abcat0100000) }}" class="tv&hometheater-link">TV & Home Theater</a>
            </div>
        </div>
    </div>
    <!-- Audio Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6502/6502215_sd.jpg;maxWidth=220"
                class="card-img-top">
            <div class="card-body">
                <a href="{{ url_for('searchbycategory', variable=abcat0200000) }}" class="audio-link">Audio</a>
            </div>
        </div>
    </div>
    <!-- Music Instruments Icon -->
    <div class="col-sm-6">
        <div class="card" style="width: 15rem; text-align: center;">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/dam/MMT-611301-ghp-img-icons-apple-d28633c9-bbe5-4f83-a0f6-55b738306ae1.jpg;maxWidth=220"
                class="card-img-top">
            <div class="card-body">
                <a href="{{ url_for('searchbycategory', variable=abcat0207000) }}" class="musicinstruments-link">Music Instruments</a>
            </div>
        </div>
    </div>


</div>
{% endblock %}

<!--
 Icon 
    <div class="col-sm-6">
      <div class="card" style="width: 15rem; text-align: center;">
          <img src=""
              class="card-img-top">
          <div class="card-body">
              <a href="#" class="-link"></a>
          </div>
      </div>
  </div>

-->
