{% extends 'base.html' %} {% block main %}

{% if data %}


<div class="col-9">
    <h1>Order {{ID}}</h1>
    <h2>Placed on {{date}}</h2>
    <h2>Total {{price}}</h2>
    <div class="row">
        {% for product in data %}
        <div class="row bg-white border rounded">
            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                    src="{{ product.image }}"></div>
            <div class="col-md-6 mt-1">
                <h5>
                    <a href="{{ url_for('searchbysku', variable=product.sku ) }}">{{ product.name }}</a>
                </h5>
                <div class="d-flex flex-row">
                    <span class="text-secondary" style="margin-right: 5px;">
                        {{ product.customerReviewAverage }} Stars
                    </span>

                    <span>
                        {{ product.customerReviewCount }} Customer Reviews
                    </span>
                </div>
            </div>
            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                <div class="d-flex flex-row align-items-center">
                    <h4 class="mr-1">$
                        {{ product.salePrice }}
                    </h4>
                </div>
                <div class="text-secondary">
                    <p>Was {{ product.regularPrice }}</p>
                </div>
                    <p>SKU: {{ product.sku }} </p>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">
                    <a href="{{ url_for('searchbysku', variable=product.sku ) }}">
                        <button class="btn btn-primary btn-sm"
                            type="button">Details
                        </button>
                    </a>
                        <form method="POST" action="/searchbysku/{{ product.sku }}"></form>
                        <form method="POST" action="/add_cart">
                        <a href="{{ url_for('add_product_to_cart', name=product.name, quantity=1, sku=product.sku, price=product.salePrice)}}">
                            <button name="SKU" class="btn btn-outline-primary btn-sm mt-2" value="{{ product.sku }}" 
                            >Add to Cart</button>
                        </a>
                        </form>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endif %}

{% endblock %}