{% extends 'base.html' %} {% block main %} {% if data %}
<div class="container">
  <div class="row">
    {% if request.args.get('order_num') %}
    <h1>
      Thank you for your order! Your order number is {{
      request.args.get('order_num') }}.
    </h1>
    <h4>
      You will receive an email confirmation shortly with your order details.
    </h4>
    <hr />
    {% endif %}
    <div class="col-12">
      <h1>Orders</h1>
    </div>

    <div class="container p-10">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Order Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for order in data %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ order[0] }}</td>
            <td>
              <a
                class="btn btn-success"
                href="
                    /order/{{order[0]}}
              "
                >View Order Details</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Orders</h1>
            <p>You have not made any orders.</p>
          </div>
        </div>
      </div>
    </div>

    {% endif %} {% endblock %}
  </div>
</div>
